@{
    ViewData["Title"] = "Détails de l'événement";
    var estParticipant = ViewBag.estParticipant;
}
@model Evenement
<div class="row">
    <div class="col-md-12 text-center">
        <h1>@ViewData["Title"]</h1>
        <br />
        <h2>@Model.NomEvenement</h2>
    </div>
</div>

<div class="row">
    <span class="text-danger" id="texteErreur"></span>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="font-weight-bold text-dark">
                    Infos
                </h2>
            </div>
            <img class="card-img-top" src=@Model.LienImage alt="Image de l'événement" />
            <div class="card-body">
                <ul>
                    <li class="h4">@Model.NomEvenement</li>
                    <li class="h4">@Model.Location</li>
                    <li class="h4">@Model.GetDateFormatée()</li>
                    <li class="h4">Organisé par: @Model.Organisateur.NomUtilisateur</li>
                    <li class="h4">@Model.Description</li>
                </ul>
            </div>
            <div class="card-footer">
                <!-- On initialise le bouton avec la donnée du ViewBag, après c'est géré par le Javascript/SignalR.
                    estParticipant(0) = Non-participant, (1) = Participant, (2) = Est l'organisateur -->
                @if (estParticipant != 2)
                {
                    if (estParticipant == 0)
                    {
                        <button onclick="participation(false)" id="btnParticipation" class="btn btn-primary figma-mauve">Je participe</button>
                    }
                    else
                    {
                        <button onclick="participation(true)" id="btnParticipation" class="btn btn-danger">Je ne participe pas</button>
                    }
                }
                else
                {
                    <strong>Vous êtes l'organisateur</strong>
                }
            </div>
        </div>
        <div id="menusDetails">
            <div class="card">
                <div class="card-header">
                    <a id="nbParticipants" class="h3 font-weight-bold text-dark" data-toggle="collapse" href="#participants">

                    </a>
                </div>
                <div id="participants" class="collapse" data-parent="#menusDetails">
                    <div class="card-body">
                        <ul id="conteneurParticipants">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="h3 font-weight-bold text-dark" data-toggle="collapse" href="#commentaires">
                        Commentaires
                    </a>
                </div>
                <div id="commentaires" data-parent="#menusDetails">
                    <div class="card-body">
                        <div id="conteneurCommentaires">

                        </div>
                        <div class="card-footer">
                            @using (Html.BeginForm("SoumettreCommentaire", "Evenement", Model))
                            {
                                <br />
                                if (ViewBag?.messageErreur != null)
                                {
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>@ViewBag.messageErreur</strong>
                                    </div>
                                }
                                <div>
                                    <Strong>Nouveau commentaire</Strong>
                                    @Html.EditorFor(model => model.Commentaire, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <br />
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary btn-lg">Envoyer</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/signalr/refreshDetails.js"></script>