@{
    ViewData["Title"] = "Détails de l'événement";
    var estParticipant = ViewBag.estParticipant;
}
@model Evenement
<div class="row">
    <div class="col-md-12 text-center">
        <h1>@ViewData["Title"]</h1>
        <br />
        <h2>@Model.NomEvenement</h2>
    </div>
</div>

<div class="row">
    <span class="text-danger" id="texteErreur"></span>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="font-weight-bold text-dark">
                    Infos
                </h2>
            </div>
            <img class="card-img-top" src=@Model.LienImage alt="Image de l'événement" />
            <div class="card-body">
                <ul>
                    <li class="h4">@Model.NomEvenement</li>
                    <li class="h4">@Model.Location</li>
                    <li class="h4">@Model.GetDateFormatée()</li>
                    <li class="h4">Organisé par: @Model.Organisateur.NomUtilisateur</li>
                    <li class="h4">@Model.Description</li>
                </ul>
            </div>
            <div class="card-footer">
                @if (estParticipant != 2)
                {
                    if (estParticipant == 0)
                    {
                        <a asp-controller="Evenement" asp-action="AddParticipation" class="btn btn-primary" style="color: white; background-color: rgb(138, 66, 255); border-color: white;">Je participe</a>
                    }
                    else
                    {
                        <a asp-controller="Evenement" asp-action="DeleteParticipation" class="btn btn-danger" style="color: white; border-color: white;">Je ne participe pas</a>
                    }
                }
                else
                {
                    <strong>Vous êtes l'organisateur de cet événement.</strong>
                }
            </div>
        </div>
        <div id="menusDetails">
            <div class="card">
                <div class="card-header">
                    <a id="nbParticipants" class="h3 font-weight-bold text-dark" data-toggle="collapse" href="#participants">
                        
                    </a>
                </div>
                <div id="participants" class="collapse" data-parent="#menusDetails">
                    <div class="card-body">
                        <ul id="conteneurParticipants">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="h3 font-weight-bold text-dark" data-toggle="collapse" href="#commentaires">
                        Commentaires
                    </a>
                </div>
                <div id="commentaires" class="collapse" data-parent="#menusDetails">
                    <div class="card-body">
                        <div id="conteneurCommentaires">

                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCommentaire">
                                &#43; Nouveau commentaire
                            </button>

                            <!-- Dialogue de création de commentaire -->
                            <div class="modal" id="modalCommentaire">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <!-- Entête -->
                                        <div class="modal-header">
                                            <h3 class="modal-title">Nouveau commentaire</h3>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Corps -->
                                        <div class="modal-body">
                                            Insérer formulaire ici
                                        </div>
                                        <!-- Pied -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Créer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/signalr/refreshDetails.js"></script>
<script>
    function gerer
</script>